.form {
  background-color: #f4f1eb;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  padding: 2.5rem;
  height: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;

  @media (min-width: 768px) {
    width: 40%;
  }

  @media (min-width: 1024px) {
    height: 220%;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    text-align: left;
    padding-bottom: 1rem;

    @media (min-width: 1024px) {
      padding-top: 3rem;
      font-size: 4.5rem;
    }
  }

  &__subtitle {
    text-align: left;
    color: #ec5a46;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.5rem;

    @media (min-width: 1024px) {
      padding-bottom: 3rem;
      font-size: 2.3rem;
    }
  }

  &__line {
    width: 100%;
    border: 0;
    height: 0.2rem;
    background-color: #cecac5;
    margin-bottom: 2rem;
  }

  &__input,
  &__textarea,
  &__inputLinks {
    padding-left: 1rem;
    width: 27rem;
    height: 4.5rem;
    background-color: #f4f1eb;
    border: none;
    border-radius: 1.2rem;
    color: black;
    grid-row: 2;
    box-shadow: inset 2px 2px 12px #ada9a45b;

    @media (min-width: 1024px) {
      font-size: 1.8rem;
      width: 70rem;
    }
  }

  &__textarea {
    height: 11rem;
    margin-bottom: 3.5rem;
    color: black;
  }

  &__inputLinks {
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    width: 12rem;

    @media (min-width: 1024px) {
      font-size: 1.8rem;
      width: 32rem;
    }
  }

  &__label {
    color: black;
    font-size: 1.5rem;
    text-align: left;
    grid-row: 1;

    @media (min-width: 1024px) {
      font-size: 1.9rem;
      padding-bottom: 0.3rem;
    }
  }

  &__input::placeholder,
  &__textarea::placeholder,
  &__inputLinks::placeholder {
    font-family: "Inter", sans-serif;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: #c4bbb1;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }

  &__btn {
<<<<<<< HEAD
    width: 16rem;
    height: 4.3rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    border: none;
    background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
    border-radius: 4rem;
    cursor: pointer;
    @media (min-width: 768px){
=======
    &--card {
      width: 16rem;
      height: 4.3rem;
      margin-top: 1rem;
      font-size: 1.6rem;
      color: white;
      text-align: center;
      border: none;
      padding: 1.5rem;
      background-color: #ec5a46;
      border-radius: 1rem;
      grid-column: 1 /3;
      margin: auto;

      @media (min-width: 768px) {
>>>>>>> design
        font-size: 1.8rem;
        width: 18rem;
        height: 4.5rem;
      }

      @media (min-width: 1024px) {
        font-size: 2rem;
        width: 22rem;
        height: 5.5rem;
      }
    }

    &--get {
<<<<<<< HEAD
    display: inline-block;
    width: 16rem;
    height: 3rem;
    margin: 1rem;
    padding-top: 1rem;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    border: none;
    background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
    border-radius: 4rem;
    cursor: pointer; 
=======
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16rem;
      height: 4.3rem;
      margin-top: 2rem;
      font-size: 1.6rem;
      color: white;
      text-align: center;
      padding: 1.5rem;
      background-color: #033631;
      border: 2px solid #70ada7;
      border-radius: 1.5rem;
>>>>>>> design

      @media (min-width: 1024px) {
        height: 2rem;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  &__project {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--links {
      width: 101%;
      display: grid;
      grid-template-columns: 44% 44%;
      grid-template-rows: 30% 30%;
      column-gap: 2rem;

      @media (min-width: 1024px) {
        column-gap: 5.2rem;
      }

    }
  }

  &__autor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--buttons {
      padding: 1rem;
      gap: 5rem;
      margin-top: 3rem;

      @media (min-width: 1024px) {
        margin: auto;
        display: grid;
        padding: 1rem;
        gap: 3rem;
      }
    }
  }

  &__create-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.linkCard {
  padding: 2rem;
  width: 93%;
  margin: 2rem 4;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
  color: #ec5a46;
  background-color: #e4e0db;
  border-radius: 1rem;
  box-shadow: inset 2px 2px 8px #ada9a48a;

  @media (min-width: 768px) {
    font-size: 1.8rem;
  }

}

.span {
  color: #ec5a46;
}
