.form {
  background: radial-gradient(#403a5f, #211e2e 50%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 2.5rem;
    height: 100%;
  font-family: "Catamaran", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;

  @media (min-width: 768px) {
    width: 40%;
  }

  @media (min-width: 1024px) {
    height: 160%;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-bottom: 1rem;

    @media (min-width: 1024px) {
      font-size: 4.5rem;
    }
  }

  &__subtitle {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;

    @media (min-width: 1024px) {
      font-size: 2.3rem;
    }
  }

  &__line {
    width: 100%;
    border: 0;
    height: 0.1rem;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }

  &__input {
    width: 100%;
    height: 4.5rem;
    background-color: #302c4279;
    border-color: white;
    border-radius: 1.2rem;

    &--textarea {
      width: 100%;
      background-color: #302c4279;
      border-color: white;
      border-radius: 1.2rem;
      height: 11rem;
      margin-bottom: 3.5rem;
    }
  }

  &__input::placeholder {
    font-family: "Catamaran", sans-serif;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: #d4d3d8;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.8rem;
    }
  }

  &__input--textarea::placeholder {
    font-family: "Catamaran", sans-serif;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: #d4d3d8;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.8rem;
    }
  }

  &__btn {
    width: 16rem;
    height: 4.3rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    border: none;
    background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
    border-radius: 4rem;

    @media (min-width: 768px){
        font-size: 1.8rem;
        width: 18rem;
        height: 4.5rem;
    }

    @media (min-width: 1024px){
        font-size: 2rem;
        width: 22rem;
        height: 5.5rem;
    }

    &--get {
    display: inline-block;
    width: 16rem;
    height: 3rem;
    margin: 1rem;
    padding-top: 1rem;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    border: none;
    background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
    border-radius: 4rem;

     @media (min-width: 1024px){
      height: 4rem;
           padding-top: 2.2rem;
           padding-left: 1rem;
           padding-right: 1rem;
    }
    }
  }

  &__project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &--links {
      width: 101%;
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
    }
  }

  &__autor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &--buttons {
      margin-top: 4rem;
      padding: 1rem;
      gap: 3rem;

      @media (min-width: 1024px) {
        display: flex;
      }
    }
  }

  &__create-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.linkCard {
    padding-top: 2rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #C0B7E8;

    @media (min-width:768px) {
        font-size: 1.8rem;
    }

    @media (min-width:1024px) {
        font-size: 2rem;
    }
}
