.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: 768px) {
    display: flex;
  }

  &__project {
    display: flex;
    gap: 1rem;
    align-items: center;

    &--name {
      color: #7d7a88;
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;

      @media (min-width: 768px) {
        font-size: 1.6rem;
      } 

      @media (min-width: 1024px) {
        font-size: 1.8rem;
      }
    }

    &--icon {
      color: white;
      font-size: 3rem;

      @media (min-width: 768px) {
        color: white;
        font-size: 4.5rem;
      }
    }
  }

  &__boca {
    width: 20%;
  }

  &__logo {
    width: 35%;

    @media (min-width: 768px) {
      width: 20%;
    }

    @media (min-width: 1024px) {
      width: 15%;
    }
  }
}
