.main .preview {
    width: 60%;
}

.main .preview {
    padding: 20px;
}

.main .preview .image {
    object-fit: cover;
    width: 100%;
    height: 80%;
}

.main .preview .autor {
    background-color: white;
    color: #3e3e3e;
    width: 90%;
    height: 50%;
    transform: translateY(-100px);
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 30px;
    overflow-y: scroll;
}

.technologies {
    background-color: lightgray;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px;
    width: 70%;
}

.info-autor {
    width: 40%;
    text-align: center;
}

.info-autor .image {
    border-radius: 50%;
    width: 80px;
    height: 110px;
}

.info-autor .job {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.info-autor .name {
    font-size: 16px;
}

.info-project {
    width: 60%;
}

.info-project .subtitle {
    font-size: 14px;
    text-align: center;
}

.info-project .title {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.info-project .desc {
    font-size: 12px;
    margin-bottom: 10px;
}

.info-project .slogan {
    font-size: 14px;
    margin-bottom: 10px;
}

.info-project .line {
    width: 100%;
    border: 0;
    height: 1px;

    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(1, 1, 1, 0.75),
            rgba(255, 255, 255, 0));
}