/* font-family: 'Catamaran', sans-serif;
font-family: 'Poppins', sans-serif; */


// Colors
$sand-color: #E4E0DB;
$dark-sand-color: #9e9385;
$light-sand-color: #F4F1EB;
$orange-color: #EC5A46;
$dark-green-color: #033631;
$light-green-color: #70ADA7;
