.detailsPage {
    margin-top: 5rem;
    margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__cover {
    border-radius: 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    object-fit: cover;
    min-width: 90%;
    margin: -3rem;

    @media (min-width: 1024px) {
      height: 65vh;
    }
  }

  &__card {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    color: #3e3e3e;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 85%;
    border-radius: 2rem;
    margin: auto;
    gap: 2rem;
    padding: 3rem 1.7rem;

    @media (min-width: 768px) {
      width: 90%;
    }

    @media (min-width: 1024px) {
      width: 70%;
      align-items: center;
      justify-content: center;
    }

    &--info {
      width: 60%;

      &--intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.5rem;
      }

      &--subtitle {
        background-color: white;
        font-size: 0.8rem;
        text-align: center;
         font-family: 'Inter', sans-serif;
        position: relative;
        z-index: 1;
        width: 65%;
        text-align: center;

        @media (min-width: 768px) {
          font-size: 1.1rem;
          text-align: center;
        }

        @media (min-width: 1024px) {
          font-size: 1.5rem;
          width: 35%;
        }
      }

      &--line {
        width: 100%;
        border: 0;
        height: 0.1rem;
        transform: translateY(-10px);
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          rgba(1, 1, 1, 0.75),
          rgba(255, 255, 255, 0)
        );

        @media (min-width: 768px) {
          transform: translateY(-10px);
        }

        @media (min-width: 1024px) {
          transform: translateY(-11px);
        }
      }

      &--title {
         font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        color: black;
        text-align: left;

        @media (min-width: 768px) {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        @media (min-width: 1024px) {
          font-size: 2.4rem;
        }
      }

      &--slogan {
         font-family: 'Inter', sans-serif;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #575757;
        font-weight: bold;

        @media (min-width: 768px) {
          font-size: 1.4rem;
        }
        @media (min-width: 1024px) {
          font-size: 1.8rem;
        }
      }

      &--desc {
         font-family: 'Inter', sans-serif;
        font-size: 0.8rem;
        margin-bottom: 1rem;
        line-height: 1.5;

        @media (min-width: 768px) {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }

        @media (min-width: 1024px) {
          font-size: 1.6rem;
        }
      }

      &--technologies {
         font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: lightgray;
        border-radius: 2rem;
        font-size: 1rem;
        padding: 1rem;

        @media (min-width: 768px) {
          font-size: 1.4rem;
        }

        @media (min-width: 1024px) {
          font-size: 1.8rem;
        }
      }

      &--icons {
        &--i {
         font-size: 1.5rem;
         color: black;
         padding-right: 0.7rem;
         padding-top: 0.6rem;
        }
      }
    }

    &--autor {
      width: 40%;
      text-align: center;

      &--img {
        border-radius: 50%;
        width: 90%;

        @media (min-width: 768px) {
          border-radius: 50%;
          width: 90%;
        }

        @media (min-width: 1024px) {
          width: 50%;
        }
      }

      &--job {
         font-family: 'Inter', sans-serif;
        color: #909090;
        font-size: 1rem;

        @media (min-width: 768px) {
          font-size: 1.4rem;
        }

        @media (min-width: 1024px) {
          font-size: 1.8rem;
        }
      }

      &--name {
         font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        font-weight: bold;

        @media (min-width: 768px) {
          font-size: 1.6rem;
        }

        @media (min-width: 1024px) {
          font-size: 2.2rem;
        }
      }
    }

  }
}
