@import "./form";
@import "./preview";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 30px 0;
  gap: 30px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 30px 0 50px 0;
  }

  @media (min-width: 1024px) {
    padding: 30px 0 80px 0;
  }
}
