@import "./core/reset";
@import "./core/variables";

@import "./layout/header";
@import "./layout/main";

.container {
    background-color: #302c42;
    height: 100vh;
    padding: 20px;
}

.btn-color {
    border-radius: 20px;
    width: 85px;
    height: 30px;
    font-weight: bold;
}

.btn-color-dark {
    background-color: black;
    color: white;
}

.card {
    color: white;
    text-align: center;
    padding: 20px;
}

.hidden {
    display: none;
}