@import "./core/reset";
@import "./core/variables";
@import "./layout/form";
@import "./layout/header";
@import "./layout/main";
@import "./layout/preview";

.body {
    background-color: $sand-color;
    height: 100vh;
    padding: 20px;

    @media (min-width: 1024px) {
    padding: 40px;
}
}

.hidden {
    display: none;
}